@use "./variables" as *;
.files {
    .navigat {
      // start sidebar //
  
      .sidebar {
        width: 200px;
        @media (max-width: 568px) {
          width: 70px;
        }
        h1 {
          @media (max-width: 568px) {
            font-size: 13px !important;
            padding: 0 !important;
          }
        }
        h1::after,
        h1::before {
          content: "";
          position: absolute;
          background-color: black;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media (max-width: 568px) {
            display: none;
          }
        }
        h1::after {
          width: 100px;
          height: 2px;
        }
        h1::before {
          width: 25px;
          height: 25px;
          border: 5px solid white;
          border-radius: 50%;
          z-index: 5;
        }
        a {
          transition: 0.3s;
          span {
            font-size: 14px;
          }
          svg {
            margin-right: 15px;
          }
        }
        a.active,
        a:hover,
        a:focus {
          background-color: #f6f6f6;
        }
      }
  
      // end sidebar //
  
      // start content //
  
      .content-files {
        width: calc(100% - 200px);
        @media (max-width: 568px) {
          width: calc(100% - 70px);
        }
  
        // start navbar //
  
        .search {
          input {
            font-size: 13px;
            outline: none;
            padding-left: 30px !important;
          }
          svg {
            position: absolute;
            left: 0;
            top: 27%;
            padding-left: 7px;
            color: rgb(0, 0, 0, 0.4);
          }
        }
        .notifications {
          a {
            svg {
              font-size: 23px;
              padding-top: 4px;
            }
            img {
              width: 32px;
              height: 32px;
              margin-left: 10px;
            }
          }
          a::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: red;
            left: 28%;
            top: 0;
            border-radius: 50%;
          }
        }
  
        // end navbar //
  
        // start section-files //
        .section-files {
          background-color: #f1f5f9;
          h2 {
            width: fit-content;
          }
          h2::after,
          h2::before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            height: 3px;
            top: 100%;
            @media (max-width: 568px) {
              display: none;
            }
          }
          h2::after {
            background-color: black;
            width: 60px;
            left: 24%;
          }
          h2::before {
            background-color: white;
            width: 150px;
            left: 50%;
          }
  
          // start section //
  
          // end section //
        }
        // end section-files //
      }
    }
  }