@use "./variables" as *;
.friends {
  
    .navigat {
      // start sidebar //
  
      .sidebar {
        min-height: 100vh;
        width: 200px;
        @media (max-width: 568px) {
          width: 70px;
        }
        h1 {
          @media (max-width: 568px) {
            font-size: 13px !important;
            padding: 0 !important;
          }
        }
        h1::after,
        h1::before {
          content: "";
          position: absolute;
          background-color: black;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media (max-width: 568px) {
            display: none;
          }
        }
        h1::after {
          width: 100px;
          height: 2px;
        }
        h1::before {
          width: 25px;
          height: 25px;
          border: 5px solid white;
          border-radius: 50%;
          z-index: 5;
        }
        a {
          transition: 0.3s;
          span {
            font-size: 14px;
          }
          svg {
            margin-right: 15px;
          }
        }
        a.active,
        a:hover,
        a:focus {
          background-color: #f6f6f6;
        }
      }
  
      // end sidebar //
  
      // start content //
  
      .content-friends {
        width: calc(100% - 200px);
        @media (max-width: 568px) {
          width: calc(100% - 70px);
        }
  
        // start navbar //
  
        .search {
          input {
            font-size: 13px;
            outline: none;
            padding-left: 30px !important;
          }
          svg {
            position: absolute;
            left: 0;
            top: 27%;
            padding-left: 7px;
            color: rgb(0, 0, 0, 0.4);
          }
        }
        .notifications {
          a {
            svg {
              font-size: 23px;
              padding-top: 4px;
            }
            img {
              width: 32px;
              height: 32px;
              margin-left: 10px;
            }
          }
          a::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: red;
            left: 28%;
            top: 0;
            border-radius: 50%;
          }
        }
  
        // end navbar //
  
        // start section-friends //
        .section-friends {
          background-color: #f1f5f9;
          min-height: 92vh;
          h2 {
            width: fit-content;
          }
          h2::after,
          h2::before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            height: 3px;
            top: 100%;
            @media (max-width: 568px) {
              display: none;
            }
          }
          h2::after {
            background-color: black;
            width: 50px;
            left: 27%;
          }
          h2::before {
            background-color: white;
            width: 97px;
            left: 50%;
          }
  
          // start section //

          .section {
            .column {
              @media (min-width: 1620px) {
                width: calc(100% / 5);
              }
              padding: 10px !important;
              @media (max-width: 992px) {
                padding: 14px !important;
              }
            }
            .col-md-4 {
              @media (max-width: 1360px) {
                width: calc(100% / 3);
              }
            }
            .col-md-4 {
              @media (max-width: 1100px) {
                width: calc(100% / 2);
              }
            }
            .col-12 {
              @media (max-width: 879px) {
                width: 100%;
              }
            }
            .Friends-Control {
              .card {
                .card-head {
                  .card-img-top {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                  }
                  p {
                    font-size: 13px;
                    color: gray;
                    margin-bottom: 10px;
                  }
                }
                .contact {
                  border: 2px solid white;
                  left: 8px;
                  top: 8px;
                  svg {
                    background-color: #eeeeee;
                    padding: 10px;
                    font-size: 14px;
                    border-radius: 50%;
                    color: gray;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                      background-color: #3f75ff;
                      color: white;
                    }
                  }
                }
                .card-body {
                  .icon {
                    svg {
                      font-size: 14px;
                      margin-right: 5px;
                    }
                    span {
                      font-size: 14px;
                      font-weight: 600;
                    }
                  }
                  .vip {
                    color: #fbeccc;
                  }

                }
                hr {
                  opacity: 0.1;
                }
                .badge-gro {
                  span {
                    color: gray;
                    font-size: 13px;
                  }
                  .bg-blue {
                    background-color: #3f75ff;
                    padding: 7px;
                  }
                  .bg-red {
                    background-color: #e74133;
                    padding: 7px;
                  }
                }
              }
            }
          }

          // end section //
        }
        // end section-friends //
      }
    }
  }
